*.iml
.gradle
/currentPosition.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
/local.properties

# Work
/work

# Builds
/release
/app/fdroid
/app/gplay
/app/pub
/app/release